body {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fbc2eb), to(#a6c1ee));
  background-image: -webkit-linear-gradient(bottom, #fbc2eb 0%, #a6c1ee 100%);
  background-image: -o-linear-gradient(bottom, #fbc2eb 0%, #a6c1ee 100%);
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  font-family: 'Shrikhand', cursive;
  height: 100vh;
}

.flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-align: center;
  align-items: center;
  width: 100vw;
}
h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 3em
}
header {
  display:flex;
  flex-direction: column;
  padding: 30px 0px 0px 5px;
  align-items: center
}

footer {
  position: fixed;
  top: 0;
}

@media only screen and (max-width: 600px) {
  footer {
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    padding: 0;
    bottom: 0;
    top: auto;
  }
}



a:link, a:visited {
  background-color: #6f67df;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgb(111, 0, 255);
}